
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background: url("../img/img/12.png");
}

.main {
	background:url("../img/img/kezdokep3.jpg") no-repeat center;
	max-width: 100vw;
	height: 100vh;
}

.banner-text {
	color: rgba(232,166,66,1.00);
	font-size: 1.75rem;
	letter-spacing: 5px;
}

.text-banner {
	color: rgba(200,180,82,1.00);
	font-size: 3rem;
	letter-spacing: 10px;
}


h2 {
  color: black;
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

h3 {
	color: rgba(232,166,66,1.00);
}

img {
	border-radius: 10px;
}

.fa-twitter {
	color: #55acee;
}

@keyframes animtext { 
  from {
      width: 0;
     transition: all 2s ease-in-out;
  } 
}

.banner-text {
}
.text-banner {
}
