@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Poppins:wght@200;300;400&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background: url("../img/img/12.png");
}

.main {
	height: 1100px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
  	display: table;
  	text-align: center;
    width: 100vw;
}

.banner-text {
	color: rgba(232,166,66,1.00);
	font-size: 1.75rem;
	letter-spacing: 5px;
}

.text-banner {
	color: rgba(200,180,82,1.00);
	font-size: 3rem;
	letter-spacing: 10px;
}

.footer-text {
	color: rgba(232,166,66,1.00); 
}

p {
	font-size: 1.4rem;
	line-height: 33px
}

h1 {
	font-family: 'Overpass', sans-serif;
}

.header-text, h1 {
	text-transform: uppercase
}



h2 {
  color: black;
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

h3 {
	color: rgba(232,166,66,1.00);
}

h4 {
	font-size: 1.75rem;
	color: aliceblue;
	font-weight: 600;
}

img {
	border-radius: 10px;
}

.fa-twitter {
	color: #55acee;
}

@keyframes animtext { 
  from {
      width: 0;
     transition: all 2s ease-in-out;
  } 
}


	
	.article-1 p {
		line-height: 25px;
		
	}
	

/* -------------------

	  Grafen CSS 

----------------------*/
	
.article-1 {
	background-color:rgba(26,26,36,0.72);
	border-radius: 10px;
	margin: 0px 3px 3px;
	padding: 10px;
	opacity: 0.9;
	/*-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 9px 12px 15px 5px rgba(0,0,0,0); 
	box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 9px 12px 15px 5px rgba(0,0,0,0);*/
}

/* -------------------

	  BANNER 

----------------------*/
	

.banner {
	background-image: url("../img/img/kezdokep3.jpg");
	height: 455px;
	background-size: cover;
	background-position: center;
  	display: table;
  	text-align: center;
    width: 100%;
}

.main-banner {
    display: table-cell;
  	vertical-align: middle;
    
}

.main-banner-text {
  margin: 0 auto;
  padding: .620rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.main-banner-text {
  font-size: 2.50rem;
  color: rgba(232,166,66,1.00);
  margin-bottom: 0; 
}

.tagline {
  font-size: 1rem;
  letter-spacing: .35rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}



/* Media Query: Banner */

@media screen and (min-width: 768px) {

  .banner {
    background-color:rgba(96,96,96,1.00);
	  height: 100vh;
  }

}

@media screen and (min-width: 768px) {

  .main-banner-text {
    padding: 1.75rem;
    border-radius: 4px;
    width: 100%;
  }

  .main-banner-text h1 {
    font-size: 6rem;
	  padding: 10px;
  }
	.header-text {
		font-size: 1.95rem;
		padding: 10px;
	}

}

@media screen and (min-width: 768px) {

  .tagline {
	font-size: 1.6rem;
    text-transform: uppercase;
  }

}

